<%- include('Header') %>
        <!-- ======================= SEARCH ====================== -->
        <div class="search-mobile">
            <form name="search_form_mobile" action="https://www.huhnseal.com/products/search" method="get">
                <input type="text" name="p" value="" placeholder="Search product">
                <button type="submit" title="Search by product code / product name" onclick="if(document.search_form_mobile.p.value != '') { return true; } else { alert('Enter a search parameter'); return false; }"></button>
            </form>
        </div>
        <!-- ===================================================== -->
    </div>
</div><div id="breadcrumbs">
    <div class="container">
        <div class="col-xs-12">
            <a href="#" title="Home">Home</a> > 
            
                    <a href="../../company.html" title="Company">Company</a> >             <strong>About us</strong>
        </div>
    </div>
</div>

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [{
		"@type": "ListItem",
		"position": 1,
		"name": "Home",
		"item": "https://www.huhnseal.com/"
	}
	,{
                        "@type": "ListItem",
                        "position": 2,
                        "name": "Company",
                        "item": "https://www.huhnseal.com/company"
                    }	,{
		"@type": "ListItem",
		"position": 3,
		"name": "Mechanical seals since 1903"
	}]
}
</script>    
    <div class="testata">
        <div class="item">
            <picture>
    <source media="(max-width: 599px)" srcset="https://www.huhnseal.com/upload/blocchi/cr_600_X1770fotoJPG_1680x4001-1X_about2.jpg">
    <img src="../../upload/blocchi/cr_X1770fotoJPG_1680x4001-1X_about2.jpg" alt="About us">
</picture><div class="txt-title"><h1>About us</h1></div>        </div>
    </div>
    
    <!-- search -->
<div class="search">
    <div class="container">
        <form name="search_form" action="https://www.huhnseal.com/products/search" method="get">
            <input type="text" name="p" value="" placeholder="Search product">
            <button type="submit" title="Search by product code / product name" onclick="if(document.search_form.p.value != '') { return true; } else { alert('Enter a search parameter'); return false; }"></button>
        </form>
    </div>
</div>    
    <div class="content">
        <div class="container">
            
                <div class="row content-row spacer100">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                
                                <div class="blk blk-img">
                                    <img src="../../upload/blocchi/X1955fotoJPG_600x4501-1X_huhn-figlio.jpg" alt="About us">
                                </div></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><div class="blk blk-title"><h2 name="1954-then" id="1954-then">Then...</h2></div><div class="clear"><br/></div><div class="blk blk-txt"><p>When Gustav Huhn created his company in Germany back in 1903, to manufacture ground-breaking packings for steam locomotive pistons, he probably did not realize that it would stretch far into the next century. In the course of three generations, during which the company was relocated to Sweden due to World War II, Gustav Huhn AB was a market leader in the mechanical seal industry, especially in the shaft seal and water turbine markets.</p>
<p>In 1983, G&ouml;ran Anderberg bought the rights to Gustav Huhn AB and created Huhnseal AB, a private company that grew steadily by successfully combining experience and innovation.</p>
<p>Huhnseal AB became a member of the Meccanotecnica Umbra Group, a world leader in Automotive and White Goods mechanical sealing systems, in 2008.</p></div></div>
                </div>
                <div class="row content-row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                
                                <div class="blk blk-img">
                                    <img src="../../upload/blocchi/X1956fotoJPG_600x4501-1X_company.jpg" alt="About us">
                                </div></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><div class="blk blk-title"><h2 name="1952-and-now" id="1952-and-now">...and Now</h2></div><div class="clear"><br/></div><div class="blk blk-txt"><p><span>Huhnseal AB is a Swedish company&nbsp;that develops and manufactures&nbsp;<a href="../../products/1778/mechanical-seals.html">mechanical seals</a> for the modern process industry. At the site in Landskrona, sealing solutions are designed, tested and manufactured for the global market. Our customers are found in a wide range of businesses such as pulp &amp; paper, food &amp; beverage, pharmaceutical, mining, general process and in the offshore industry. Huhnseal AB has a long tradition and experience of manufacturing customer specific solutions for&nbsp;the OEM market.</span></p></div></div>
                </div>        </div>
        <div class="container">
    <div class="col-lg-3 col-md-5 col-sm-6 col-xs-12"></div>
    <div class="col-lg-5 col-md-3 hidden-sm hidden-xs"></div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="row">
            <ul class="share  addthis_toolbox addthis_default_style">
                <li>Share this page</li>
                <li><a class="addthis_button_email" href="javascript:void(0);" title="email"><i class="fa fa-envelope"></i></a></li>
                                <li><a class="addthis_button_pinterest_share" href="javascript:void(0);" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
                <li><a class="addthis_button_linkedin" href="javascript:void(0);" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="addthis_button_twitter" href="javascript:void(0);" title="twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a class="addthis_button_facebook" href="javascript:void(0);" title="facebook"><i class="fa fa-facebook"></i></a></li>
            </ul>
                    </div>
    </div>
</div>
<div class="clear"></div>    </div>
    
<%- include('Footer') %>
