<%- include('Header') %>
        <!-- ======================= SEARCH ====================== -->
        <div class="search-mobile">
            <form name="search_form_mobile" action="https://www.huhnseal.com/products/search" method="get">
                <input type="text" name="p" value="" placeholder="Search product">
                <button type="submit" title="Search by product code / product name" onclick="if(document.search_form_mobile.p.value != '') { return true; } else { alert('Enter a search parameter'); return false; }"></button>
            </form>
        </div>
        <!-- ===================================================== -->
    </div>
</div><div id="breadcrumbs">
    <div class="container">
        <div class="col-xs-12">
            <a href="#" title="Home">Home</a> > 
            
                    <a href="../../company.html" title="Company">Company</a> >             <strong>Company Video</strong>
        </div>
    </div>
</div>

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [{
		"@type": "ListItem",
		"position": 1,
		"name": "Home",
		"item": "https://www.huhnseal.com/"
	}
	,{
                        "@type": "ListItem",
                        "position": 2,
                        "name": "Company",
                        "item": "https://www.huhnseal.com/company"
                    }	,{
		"@type": "ListItem",
		"position": 3,
		"name": "Company Video"
	}]
}
</script>    
    <div class="testata">
        <div class="item">
            <picture>
    <source media="(max-width: 599px)" srcset="https://www.huhnseal.com/upload/blocchi/cr_600_X1942fotoJPG_1680x4001-1X_mechanicalseals.jpg">
    <img src="../../upload/blocchi/cr_X1942fotoJPG_1680x4001-1X_mechanicalseals.jpg" alt="Company Video">
</picture><div class="txt-title"><h1>Company Video</h1></div>        </div>
    </div>
    
    <!-- search -->
<div class="search">
    <div class="container">
        <form name="search_form" action="https://www.huhnseal.com/products/search" method="get">
            <input type="text" name="p" value="" placeholder="Search product">
            <button type="submit" title="Search by product code / product name" onclick="if(document.search_form.p.value != '') { return true; } else { alert('Enter a search parameter'); return false; }"></button>
        </form>
    </div>
</div>    
    <div class="content">
        <div class="container">
            
                <div class="row content-row spacer100">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="blk blk-title txt-center">
                                    <h2 name="2252-company-video-english" id="2252-company-video-english">Company Video English</h2>
                                </div></div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="blk blk-title txt-center">
                                    <h2 name="2253-company-video-brazilian" id="2253-company-video-brazilian">Company Video Brazilian</h2>
                                </div></div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="blk blk-title txt-center">
                                    <h2 name="2254-company-video-chinese" id="2254-company-video-chinese">Company Video Chinese</h2>
                                </div></div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"></div>
                </div>
                <div class="row content-row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="blk blk-video">
                                    <iframe src="https://www.youtube.com/embed/-qoG6lLB67M?wmode=transparent&amp;rel=0&amp;enablejsapi=1" frameborder="0" wmode="Opaque" allowfullscreen class="youtubeplayer" id="2244"></iframe>
                                </div></div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="blk blk-video">
                                    <iframe src="https://www.youtube.com/embed/-KAyn1sZ-SI?wmode=transparent&amp;rel=0&amp;enablejsapi=1" frameborder="0" wmode="Opaque" allowfullscreen class="youtubeplayer" id="2246"></iframe>
                                </div></div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="blk blk-video">
                                    <iframe src="https://www.youtube.com/embed/w6TRynofK1I?wmode=transparent&amp;rel=0&amp;enablejsapi=1" frameborder="0" wmode="Opaque" allowfullscreen class="youtubeplayer" id="2248"></iframe>
                                </div></div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"></div>
                </div>        </div>
        <div class="container">
    <div class="col-lg-3 col-md-5 col-sm-6 col-xs-12"></div>
    <div class="col-lg-5 col-md-3 hidden-sm hidden-xs"></div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="row">
            <ul class="share  addthis_toolbox addthis_default_style">
                <li>Share this page</li>
                <li><a class="addthis_button_email" href="javascript:void(0);" title="email"><i class="fa fa-envelope"></i></a></li>
                                <li><a class="addthis_button_pinterest_share" href="javascript:void(0);" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
                <li><a class="addthis_button_linkedin" href="javascript:void(0);" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="addthis_button_twitter" href="javascript:void(0);" title="twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a class="addthis_button_facebook" href="javascript:void(0);" title="facebook"><i class="fa fa-facebook"></i></a></li>
            </ul>
                    </div>
    </div>
</div>
<div class="clear"></div>    </div>
<%- include('Footer') %>