<!-- footer -->
<div class="footer">
    <div class="container">
      <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <p class="logo-footer"></p>
        <br /><br class="hiddensmartphone" /><br class="hiddensmartphone" />
        <img
          src="img/logo-esa-ehedg.png"
          alt="Logo Esa-Ehedg"
          style="width: 200px; max-width: 100%"
        />
        <h4>Member of:</h4>
        <a href="https://www.meccanotecnicaumbra.com/" target="_blank"
          ><img
            src="img/mtu_logo_footer.png"
            alt="Logo Mtu"
            style="width: 200px; max-width: 100%"
        /></a>

        <br /><br /><br />
        <div class="tohidecustom2 hidden-lg hidden-md">
          <p>
            <strong>Visiting and delivery address</strong>:<br />
            CHEM-PROOF AB<br />
            Järvgatan 1<br />
            SE-261 44<br />
            Landskrona<br />
            Sweden
          </p>
          <p>
            <strong>Mailing address</strong>:<br />
            CHEM-PROOF AB<br />
            BOX 288<br />
            SE-261 23 Landskrona<br />
            Sweden
          </p>
          <p>
            <strong>Tel.</strong>: +46 418 44 99 40<br />
            <strong>Email</strong>:
            <a href="contacts.html" title="Contacts" class="trackClickMail"
              >sales@huhnseal.com</a
            >
          </p>
          <p>
            <a href="privacy.html">Privacy Policy</a> /
            <a href="cookies-policy.html">Cookies Policy</a> /
            <a href="faq/page-1.html">F.A.Q.</a>
          </p>
        </div>
        <style type="text/css">
          @media (min-width: 768px) {
            .tohidecustom2 {
              display: none !important;
            }
          }
        </style>
      </div> -->
      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
        <br class="hiddensmartphone" />
        <ul
          class="social-icons align-right hidden-lg hidden-md hiddensmartphone"
        >
          <li>
            <a
              href="https://www.facebook.com/huhnseal"
              target="_blank"
              title="facebook"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/company/huhnseal-ab?trk=biz-companies-cym"
              target="_blank"
              title="linkedin"
              ><i class="fa fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/channel/UCv_Awts9LWjXG7vJU8G_T_w/videos"
              target="_blank"
              title="youtube"
              ><i class="fa fa-youtube"></i
            ></a>
          </li>
        </ul>
        <ul class="social-icons mobile hiddendesktop hiddentablet">
          <li>
            <a
              href="https://www.facebook.com/huhnseal"
              target="_blank"
              title="facebook"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/company/huhnseal-ab?trk=biz-companies-cym"
              target="_blank"
              title="linkedin"
              ><i class="fa fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/channel/UCv_Awts9LWjXG7vJU8G_T_w/videos"
              target="_blank"
              title="youtube"
              ><i class="fa fa-youtube"></i
            ></a>
          </li>
        </ul>

        <div
          class="tohidecustom hidden-lg hiddendesktop hiddensmartphone hidden-xs"
          style="
            display: block;
            clear: both;
            margin-top: 80px;
            padding-top: 30px;
            border-top: 2px solid #fff;
          "
        >
          <div class="col-lg-6" style="padding-left: 0">
            <p>
              <strong>Visiting and delivery address</strong>:<br />
              CHEM-PROOF AB<br />
              Mumbai<br />
              Maharashtra<br />
              India<br />
            </p>
            <p>
              <strong>Mailing address</strong>:<br />
              CHEM-PROOF AB<br />
              Mumbai<br />
              Maharashtra<br />
              india
            </p>
          </div>
          <div class="col-lg-6" style="padding-left: 0; padding-right: 0">
            <p>
              <strong>Tel.</strong>: +91123456879<br />
              <strong>Email</strong>:
              <a href="contacts.html" title="Contacts" class="trackClickMail"
                >sales@CHEM-PROOF.com</a
              >
            </p>
            <p>
              <a href="privacy.html">Privacy Policy</a> /
              <a href="cookies-policy.html">Cookies Policy</a> /
              <a href="faq/page-1.html" title="F.A.Q.">F.A.Q.</a>
            </p>
          </div>
        </div>
        <style type="text/css">
          @media (min-width: 992px) {
            .tohidecustom {
              display: none !important;
            }
          }
        </style>
      </div>
      <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
        <ul class="social-icons">
          <li>
            <a
              href="https://www.facebook.com/huhnseal"
              target="_blank"
              title="facebook"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/company/huhnseal-ab?trk=biz-companies-cym"
              target="_blank"
              title="linkedin"
              ><i class="fa fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/channel/UCv_Awts9LWjXG7vJU8G_T_w/videos"
              target="_blank"
              title="youtube"
              ><i class="fa fa-youtube"></i
            ></a>
          </li>
        </ul>
        <div
          style="
            display: block;
            clear: both;
            margin-top: 100px;
            padding-top: 30px;
            border-top: 2px solid #fff;
          "
        >
          <div class="col-lg-6" style="padding-left: 0">
            <p>
              <strong>Visiting and delivery address</strong>:<br />
              CHEM-PROOF AB<br />
              Mumbai<br />
              Maharashtra<br />
              India<br />
            </p>
            <p>
              <strong>Mailing address</strong>:<br />
              CHEM-PROOF AB<br />
              Mumbai<br />
              Maharashtra<br />
              india
            </p>
          </div>
          <div class="col-lg-6" style="padding-left: 0; padding-right: 0">
            <p>
              <strong>Tel.</strong>: +91123456789<br />
              <strong>Email</strong>:
              <a href="contacts.html" title="Contacts" class="trackClickMail"
                >sales@CHEM-PROOf.com</a
              >
            </p>
            <p>
              <a href="privacy.html">Privacy Policy</a>
              <br />
              <a href="cookies-policy.html">Cookies Policy</a>
              <br />
              <a href="faq/page-1.html" title="F.A.Q.">F.A.Q.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="col2 txt-center">
        Designed by &nbsp;
        <a
          href="http://www.comodosociale.it/"
          class="comodo"
          target="_blank"
          title="Co.mo.do. Sociale | Comunicare Moltiplica Doveri – società cooperativa sociale"
          >Comunicare Moltiplica Doveri</a
        >
      </div>
      <div class="col2 txt-center">
        Developed by &nbsp;
        <a
          href="http://www.nur.it/"
          class="nur"
          target="_blank"
          title="Nur Digital Marketing"
          >Digital Marketing</a
        >
      </div>
    </div>
  </div>

  <script
    src="js/function_analytics.js"
    type="text/javascript"
    language="javascript"
  ></script>
  <script>
    var anal_product = anal_product || [];
    ga("send", "pageview");
  </script>
  <script type="text/javascript">
    function loadExternalScript(url, callback) {
      var head = document.getElementsByTagName("head")[0];
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = url;
      script.async = true;
      if (typeof callback == "function")
        script.addEventListener("load", callback);
      head.appendChild(script);
    }
    function loadExternalCSS(url) {
      var head = document.getElementsByTagName("head")[0];
      var link = document.createElement("link");
      link.type = "text/css";
      link.rel = "stylesheet";
      link.href = url;
      head.appendChild(link);
    }
  </script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.reel.js"></script>
  <script src="js/jquery.form.min.js"></script>
  <script src="js/jquery.selectbox-0.2.min.js"></script>
  <script src="js/jquery.filestyle.min.js"></script>
  <script src="js/jquery.bxslider.min.js"></script>
  <script src="utilities/owl-carousel/dist/owl.carousel.min.js"></script>
  <script src="utilities/rwdimagemaps/jquery.rwdImageMaps.min.js"></script>
  <script src="utilities/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
  <script src="utilities/scrollreveal/scrollreveal.min.js"></script>
  <script src="utilities/velocity/velocity.min.js"></script>
  <script src="utilities/autocomplete/src/jquery.autocomplete.min.js"></script>
  <script src="js/meccanitecnica.js"></script>
  <!--AddThis-->
  <script>
    loadExternalScript(
      "../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51e65f5776e10c46"
    );
  </script>
  <script type="text/javascript">
    window._lcSiteid = 14860;
    var _lcScript = document.createElement("script");
    _lcScript.src = "../cdn.leadchampion.com/leadchampion.js";
    _lcScript.async = 1;
    if (document.body) {
      document.body.appendChild(_lcScript);
    } else {
      document.getElementsByTagName("head")[0].appendChild(_lcScript);
    }
  </script>
</body>

<!-- Mirrored from www.huhnseal.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Aug 2024 07:37:20 GMT -->
</html>
