<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from www.huhnseal.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Aug 2024 07:35:00 GMT -->
  <head>
    <meta charset="utf-8" />
    <title>Mechanical seals manufacturer | CHEM-PROOF</title>
    <meta
      name="description"
      content="CHEM-PROOF AB design mechanical seals for industries, focused in reducing energy consumption, operating costs and environmental impact. Find out more!"
    />
    <meta
      name="keywords"
      content="mechanical seals, mechanical seals production, mechanical seals manufacture, industrial mechanical seals, single mechanical seals, double mechanical seals, cartridge mechanical seals"
    />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="author" content="CHEM-PROOF" />
    <meta name="language" content="en" />
    <meta property="og:title" content="Mechanical seals manufacturer" />
    <meta
      property="og:description"
      content="CHEM-PROOF AB design mechanical seals for industries, focused in reducing energy consumption, operating costs and environmental impact. Find out more!"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="img/og-huhnseal.jpg" />
    <meta property="og:url" content="index.html" />
    <meta
      name="viewport"
      content="initial-scale=1.0,user-scalable=no,maximum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="imagetoolbar" content="no" />
    <base />
    <link href="img/favicon.ico" rel="shortcut icon" />

    <link
      href="css/animate.min.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="utilities/owl-carousel/dist/assets/owl.carousel.min.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="utilities/fancybox/jquery.fancybox-1.3.4.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="utilities/autocomplete/content/styles.css"
      type="text/css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i"
      rel="stylesheet"
    />
    <link
      href="css/meccanotecnica.min.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.browser.min.js"></script>

    <link
      rel="stylesheet"
      href="amministrazione/utilities/cookiewall/cookiewallc619.css?v=1.0"
    />
    <script
      type="text/javascript"
      src="amministrazione/utilities/cookiewall/cookiewallc619.js?v=1.0"
    ></script>

    <link rel="canonical" href="index.html" />
    <link rel="alternate" href="index.html" hreflang="en" />
    <link rel="alternate" href="de/index.html" hreflang="de" />
    <link rel="alternate" href="index.html" hreflang="x-default" />
    <script>
      (function (i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function () {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(
        window,
        document,
        "script",
        "../www.google-analytics.com/analytics.js",
        "ga"
      );
      ga("create", "UA-22737852-3", "auto");
      ga("require", "ec");
      if (typeof nur == "object") {
        nur.anonymizeAnalytics();
        nur.displayFeatures();
      }
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        /** init gtm after 3500 seconds - this could be adjusted */
        setTimeout(initGTM, 3500);
      });
      document.addEventListener("scroll", initGTMOnEvent);
      document.addEventListener("mousemove", initGTMOnEvent);
      document.addEventListener("touchstart", initGTMOnEvent);

      function initGTMOnEvent(event) {
        initGTM();
        event.currentTarget.removeEventListener(event.type, initGTMOnEvent); // remove the event listener that got triggered
      }

      function initGTM() {
        if (window.gtmDidInit) {
          return false;
        }
        window.gtmDidInit = true; // flag to ensure script does not get added to DOM more than once.
        const script = document.createElement("script");
        script.type = "text/javascript";
        script.async = true;
        script.onload = () => {
          dataLayer.push({
            event: "gtm.js",
            "gtm.start": new Date().getTime(),
            "gtm.uniqueEventId": 0,
          });
        }; // this part ensures PageViews is always tracked
        script.src = "../www.googletagmanager.com/gtm32f0.js?id=GTM-PM58L82";

        document.head.appendChild(script);
      }
    </script>

    <!-- Start of Sleeknote signup and lead generation tool - www.sleeknote.com -->
    <script id="sleeknoteScript" type="text/javascript">
      (function () {
        var sleeknoteScriptTag = document.createElement("script");
        sleeknoteScriptTag.type = "text/javascript";
        sleeknoteScriptTag.charset = "utf-8";
        sleeknoteScriptTag.src =
          "../sleeknotecustomerscripts.sleeknote.com/34099.js";
        var s = document.getElementById("sleeknoteScript");
        s.parentNode.insertBefore(sleeknoteScriptTag, s);
      })();
    </script>
    <!-- End of Sleeknote signup and lead generation tool - www.sleeknote.com -->

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://www.huhnseal.com/",
        "logo": "https://www.huhnseal.com/img/logo-header.png"
      }
    </script>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Järvgatan 1",
          "addressLocality": "Landskrona",
          "postalCode": " 261 44",
          "addressCountry": "SWE"
        },
        "description": "CHEM-PROOF AB design and manufacture a wide range of mechanical seals for a variety of industries.Additional to our standard program we supply customised seals. Our focus is on developing sealing solutions that reduce energy consumption, operating costs and environmental impact.",
        "name": "CHEM-PROOF AB",
        "priceRange": "$$",
        "telephone": "+46418449940",
        "url": "https://www.huhnseal.com/",
        "image": "https://www.huhnseal.com/img/logo-header.png",
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 55.881995756671344,
          "longitude": 12.853915544779145
        }
      }
    </script>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "Dataset",
        "name": "CHEM-PROOF AB",
        "description": "CHEM-PROOF AB design and manufacture a wide range of mechanical seals for a variety of industries.Additional to our standard program we supply customised seals. Our focus is on developing sealing solutions that reduce energy consumption, operating costs and environmental impact.",
        "url": "https://www.huhnseal.com/",
        "isAccessibleForFree": true,
        "keywords": [
          "Mechanical Seals",
          "Special Features",
          "Support System",
          "Food & Beverage",
          "Mining & Slurry",
          "Pulp & Paper",
          "Chemical",
          "Pharmaceutical",
          "W&WW and Dewatering",
          "Refrigeration Industry"
        ],
        "creator": {
          "@type": "Organization",
          "name": "CHEM-PROOF AB",
          "@id": "https://www.huhnseal.com/"
        }
      }
    </script>
  </head>
  <body>
    <script type="text/javascript">
      var animationEffect = "";
    </script>

    <div class="header">
      <div class="container">
        <!-- ======================== LOGO ======================= -->
        <div class="logo-container">
          <a href="/index" class="logo" title="Home"></a>
        </div>
        <!-- ==================== MENU DESKTOP =================== -->
        <div class="menu-container">
          <ul>
            <li class="sub">
              <a href="company.html" title="Company">Company</a>
              <div class="menu-responsive">
                <div class="top-menu"><span></span></div>
                <ul class="menu">
                  <li>
                    <a href="/about-us" title="About us">About us</a>
                  </li>
                  <li>
                    <a href="/company-video" title="Company Video"
                      >Company Video</a
                    >
                  </li>
                  <li>
                    <a href="company/1890/privacy.html" title="Privacy"
                      >Privacy</a
                    >
                  </li>
                  <li><a href="download.html" title="Download">Download</a></li>
                  <li><a href="/contacts" title="Contacts">Contacts</a></li>
                </ul>
                <div class="bottom-menu"><span></span></div>
              </div>
            </li>
            <li class="sub">
              <a href="products.html" title="Products">Products</a>

              <div class="menu-responsive">
                <div class="top-menu"><span></span></div>
                <ul class="menu">
                  <li>
                    <a
                      href="products/1778/mechanical-seals.html"
                      title="Mechanical Seals"
                      class="tenuta-preview"
                      style="
                        background-image: url('upload/blocchi/cr_X1778fotoPNG_60x601-1X_huh-tenute-off-01.png');
                      "
                      >Mechanical Seals</a
                    >
                  </li>
                  <li>
                    <a
                      href="products/1779/special-features.html"
                      title="Special Features"
                      class="tenuta-preview"
                      style="
                        background-image: url('upload/blocchi/cr_X1779fotoPNG_60x601-1X_huh-tenute-off-02.png');
                      "
                      >Special Features</a
                    >
                  </li>
                  <li>
                    <a
                      href="products/1781/support-system.html"
                      title="Support System"
                      class="tenuta-preview"
                      style="
                        background-image: url('upload/blocchi/cr_X1781fotoPNG_60x601-1X_huh-tenute-off-03.png');
                      "
                      >Support System</a
                    >
                  </li>
                </ul>
                <div class="bottom-menu"><span></span></div>
              </div>
            </li>
            <li class="sub">
              <a href="the-difference.html" title="The difference"
                >The difference</a
              >

              <div class="menu-responsive">
                <div class="top-menu"><span></span></div>
                <ul class="menu">
                  <li>
                    <a
                      href="the-difference/2152/quality-environment-and-certificates.html"
                      title="Quality, Environment and Certificates"
                      >Quality, Environment and Certificates</a
                    >
                  </li>
                </ul>
                <div class="bottom-menu"><span></span></div>
              </div>
            </li>
            <li class="sub">
              <a href="industries.html" title="Industries">Industries</a>

              <div class="menu-responsive">
                <div class="top-menu"><span></span></div>
                <ul class="menu">
                  <li>
                    <a
                      href="industries/1777/food-beverage.html"
                      title="Food &amp; Beverage"
                      >Food &amp; Beverage</a
                    >
                  </li>
                  <li>
                    <a
                      href="industries/1876/mining-slurry.html"
                      title="Mining &amp; Slurry"
                      >Mining &amp; Slurry</a
                    >
                  </li>
                  <li>
                    <a
                      href="industries/1877/pulp-paper.html"
                      title="Pulp &amp; Paper"
                      >Pulp &amp; Paper</a
                    >
                  </li>
                  <li>
                    <a href="industries/1875/chemical.html" title="Chemical"
                      >Chemical</a
                    >
                  </li>
                  <li>
                    <a
                      href="industries/1874/pharmaceutical.html"
                      title="Pharmaceutical"
                      >Pharmaceutical</a
                    >
                  </li>
                  <li>
                    <a
                      href="industries/1773/www-and-dewatering.html"
                      title="W&amp;WW and Dewatering"
                      >W&amp;WW and Dewatering</a
                    >
                  </li>
                  <li>
                    <a
                      href="industries/2564/refrigeration-industry.html"
                      title="Refrigeration Industry"
                      >Refrigeration Industry</a
                    >
                  </li>
                </ul>
                <div class="bottom-menu"><span></span></div>
              </div>
            </li>
            <li class="sub">
              <a href="javascript:void(0)" title="Worldwide">Worldwide</a>
              <div class="menu-responsive">
                <div class="top-menu"><span></span></div>
                <ul class="menu">
                  <li>
                    <a href="distributors.html" title="Distributors"
                      >Distributors</a
                    >
                  </li>
                  <li>
                    <a href="sales-offices.html" title="Sales Offices"
                      >Sales Offices</a
                    >
                  </li>
                </ul>
                <div class="bottom-menu"><span></span></div>
              </div>
            </li>
            <li><a href="news/page-1.html" title="News">News</a></li>
            <li>
              <a href="work-with-us.html" title="Work with us">Work with us</a>
            </li>
            <li class="sub lang">
              <a href="javascript:void(0)" title="">Language</a>
              <div class="menu-responsive network-desktop-menu">
                <div class="top-menu"><span></span></div>
                <ul class="menu">
                  <li>
                    <a href="#" title="ENGLISH"
                      >ENGLISH
                      <img
                        src="img/flags/flag-gb.gif"
                        alt="GB"
                        style="vertical-align: baseline; margin-left: 4px"
                    /></a>
                  </li>
                  <li>
                    <a href="de/index.html" title="DEUTSCH"
                      >DEUTSCH
                      <img
                        src="img/flags/flag-de.gif"
                        alt="DE"
                        style="vertical-align: baseline; margin-left: 4px"
                    /></a>
                  </li>
                  <!--li><a href="http://www.meccanotecnica.it/test/" title="Meccanotecnica Umbra">Meccanotecnica Umbra <img src="img/flags/flag-it.gif" alt="IT" style="vertical-align:baseline;margin-left:4px;"></a></li>
                            <li><a href="http://www.meccanotecnicaumbra.com/test/" title="Meccanotecnica Umbra">Meccanotecnica Umbra <img src="img/flags/flag-gb.gif" alt="GB" style="vertical-align:baseline;margin-left:4px;"></a></li>
                            <li><a href="http://www.meccanotecnica.cn.com/test/" title="Meccanotecnica Umbra (Qingdao)">Meccanotecnica Umbra (Qingdao) <img src="img/flags/flag-cn.gif" alt="CN" style="vertical-align:baseline;margin-left:4px;"></a></li>
                            <li><a href="http://www.meccanotecnica.br.com/test/" title="Mecanotécnica do Brasil">Mecanotécnica do Brasil <img src="img/flags/flag-br.gif" alt="BR" style="vertical-align:baseline;margin-left:4px;"></a></li>
                            <li><a href="http://www.meccanotecnica.us.com/test/" title="MeccanotecnicaUSA">MeccanotecnicaUSA <img src="img/flags/flag-us.gif" alt="US" style="vertical-align:baseline;margin-left:4px;"></a></li>
                            <li><a href="http://www.huhnseal.com" title="HUHNSEAL" class="last">HUHNSEAL <img src="img/flags/flag-huhnseal-transparent.png" alt="Transparent" style="vertical-align:baseline;margin-left:4px;"></a></li-->
                </ul>
                <div class="bottom-menu"><span></span></div>
              </div>
            </li>
          </ul>
        </div>
        <!-- ==================== MENU MOBILE ==================== -->
        <div class="menu-mobile">
          <a href="javascript:void(0)" class="menuicon"></a>
          <div class="menu-responsive">
            <div class="top-menu"><span></span></div>

            <ul class="menu">
              <li>
                <a href="company.html" class="sub" title="Company">Company</a>
                <ul>
                  <li>
                    <a href="/about-us" title="About us">About us</a>
                  </li>
                  <li>
                    <a href="/company-video" title="Company Video"
                      >Company Video</a
                    >
                  </li>
                  <li>
                    <a href="company/1890/privacy.html" title="Privacy"
                      >Privacy</a
                    >
                  </li>
                  <li><a href="download.html" title="Download">Download</a></li>
                  <li><a href="/contacts" title="Contacts">Contacts</a></li>
                </ul>
              </li>
              <li>
                <a href="products.html" class="sub" title="Products"
                  >Products</a
                >

                <ul>
                  <li>
                    <a
                      href="products/1778/mechanical-seals.html"
                      title="Mechanical Seals"
                      >Mechanical Seals</a
                    >
                  </li>
                  <li>
                    <a
                      href="products/1779/special-features.html"
                      title="Special Features"
                      >Special Features</a
                    >
                  </li>
                  <li>
                    <a
                      href="products/1781/support-system.html"
                      title="Support System"
                      >Support System</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a href="the-difference.html" class="sub" title="The difference"
                  >The difference</a
                >

                <ul>
                  <li>
                    <a
                      href="the-difference/2152/quality-environment-and-certificates.html"
                      title="Quality, Environment and Certificates"
                      >Quality, Environment and Certificates</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a href="industries.html" class="sub" title="Industries"
                  >Industries</a
                >

                <ul>
                  <li>
                    <a
                      href="industries/1777/food-beverage.html"
                      title="Food &amp; Beverage"
                      >Food &amp; Beverage</a
                    >
                  </li>
                  <li>
                    <a
                      href="industries/1876/mining-slurry.html"
                      title="Mining &amp; Slurry"
                      >Mining &amp; Slurry</a
                    >
                  </li>
                  <li>
                    <a
                      href="industries/1877/pulp-paper.html"
                      title="Pulp &amp; Paper"
                      >Pulp &amp; Paper</a
                    >
                  </li>
                  <li>
                    <a href="industries/1875/chemical.html" title="Chemical"
                      >Chemical</a
                    >
                  </li>
                  <li>
                    <a
                      href="industries/1874/pharmaceutical.html"
                      title="Pharmaceutical"
                      >Pharmaceutical</a
                    >
                  </li>
                  <li>
                    <a
                      href="industries/1773/www-and-dewatering.html"
                      title="W&amp;WW and Dewatering"
                      >W&amp;WW and Dewatering</a
                    >
                  </li>
                  <li>
                    <a
                      href="industries/2564/refrigeration-industry.html"
                      title="Refrigeration Industry"
                      >Refrigeration Industry</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)" class="sub" title="Worldwide"
                  >Worldwide</a
                >
                <ul>
                  <li>
                    <a href="distributors.html" title="Distributors"
                      >Distributors</a
                    >
                  </li>
                  <!--li><a href="https://www.huhnseal.com/sales-offices" class="sub" title="Sales Marketing">Sales Marketing</a></li-->
                  <li>
                    <a href="sales-offices.html" title="Sales Offices"
                      >Sales Offices</a
                    >
                  </li>
                </ul>
              </li>
              <li><a href="news/page-1.html" title="News">News</a></li>
              <li>
                <a href="work-with-us.html" title="Work with us"
                  >Work with us</a
                >
              </li>
              <!-- temporaneamente nascosto viso che è pronto solo l'inglese al momento -->
              <!--li>
                        <a href="javascript:void(0)" class="sub" title="">Language</a>
                        <ul>
                            <li><a href="http://www.meccanotecnica.it/test/" title="Meccanotecnica Umbra"><img src="img/flags/flag-it.gif" alt="IT" style="vertical-align:baseline;margin-right:4px;"> Meccanotecnica Umbra</a></li>
                            <li><a href="http://www.meccanotecnicaumbra.com/test/" title="Meccanotecnica Umbra"><img src="img/flags/flag-gb.gif" alt="GB" style="vertical-align:baseline;margin-right:4px;"> Meccanotecnica Umbra</a></li>
                            <li><a href="http://www.meccanotecnica.cn.com/test/" title="Meccanotecnica Umbra (Qingdao)"><img src="img/flags/flag-cn.gif" alt="CN" style="vertical-align:baseline;margin-right:4px;"> Meccanotecnica Umbra (Qingdao)</a></li>
                            <li><a href="http://www.meccanotecnica.br.com/test/" title="Mecanotécnica do Brasil"><img src="img/flags/flag-br.gif" alt="BR" style="vertical-align:baseline;margin-right:4px;"> Mecanotécnica do Brasil</a></li>
                            <li><a href="http://www.meccanotecnica.us.com/test/" title="MeccanotecnicaUSA"><img src="img/flags/flag-us.gif" alt="US" style="vertical-align:baseline;margin-right:4px;"> MeccanotecnicaUSA</a></li>
                            <li><a href="http://www.huhnseal.com" title="HUHNSEAL" class="last"><img src="img/flags/flag-huhnseal-transparent.png" alt="Transparent" style="vertical-align:baseline;margin-right:4px;"> HUHNSEAL</a></li>
                        </ul>
                    </li-->
            </ul>

            <div class="bottom-menu"><span></span></div>
          </div>
        </div>
        <!-- ======================= SEARCH ====================== -->
        <div class="search-mobile">
          <form
            name="search_form_mobile"
            action="https://www.huhnseal.com/products/search"
            method="get"
          >
            <input type="text" name="p" value="" placeholder="Search product" />
            <button
              type="submit"
              title="Search by product code / product name"
              onclick="if(document.search_form_mobile.p.value != '') { return true; } else { alert('Enter a search parameter'); return false; }"
            ></button>
          </form>
        </div>
        <!-- ===================================================== -->
      </div>
    </div>
  </body>
</html>
